<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Cadastro Loja</title>
</head>
<body>

    <!-- Header e Nav -->
    <div id="topo-site"></div>

    <div class="conteudo-form bg-cinza">
        <div class="conteudo-formulario">
            <form onsubmit="window.location.href='home.html'; return false;">

            <h2 style="text-align: center; color: rgb(251,86,48); margin-bottom: 20px;">
                Cadastrar Loja
            </h2>

            <input type="text" placeholder="Nome da Loja" name="inputNomeLoja">
            <input type="text" placeholder="CNPJ" name="inputCNPJLoja">
            <input type="text" placeholder="Telefone" name="inputTelefoneLoja">
            <input type="text" placeholder="Email" name="inputEmailLoja">

            <label style="text-align: center; display: block; margin-top: 20px;">Selecione o logo da loja:</label>
            <div class="input-file">
                <label for="arquivoLoja">Escolher arquivo</label>
                <input type="file" id="arquivoLoja" name="inputLogoLoja">
                <span id="nome-arquivo-loja">Nenhum arquivo escolhido</span>
            </div>

            <input id="botao" class="botao" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>


    <!-- Footer -->
    <footer></footer>
    <script src="../script/elementos-padroes.js"></script>
</body>
</html>