<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Cadastro Produto</title>
</head>
<body>

    <!-- Header e Nav -->
    <div id="topo-site"></div>

    <section class="conteudo-cadastro">
        <section class="conteudo-formulario-cadastro">
            <form id="form-log" method="POST" action="">
                <label>Cadastrar Produto</label>
                <input type="text" placeholder="Nome" name="inputNomeProd">
                <input type="text" placeholder="Fabricante" name="inputFabricanteProd">
                <input type="text" placeholder="Descrição" name="inputDescricaoProd">
                <input type="text" placeholder="Valor" name="inputValorProd">
                <input id="botao" type="submit" value="Cadastrar">
            </form>
        </section>
    </section>

    <!-- Footer -->
    <footer></footer>
    <script src="../script/elementos-padroes.js"></script>
</body>
</html>