<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Cadastro Funcionario</title>
</head>
<body>

    <!-- Header e Nav -->
    <div id="topo-site"></div>

    <div class="conteudo-form bg-cinza">
        <div class="conteudo-formulario">
            <form id="form-log" onsubmit="window.location.href='home.html'; return false;">

            <h2 style="text-align: center; color: rgb(251,86,48); margin-bottom: 20px;">
                Cadastrar Funcionário
            </h2>

            <input type="text" id="inputNomeFunc" placeholder="Nome" name="inputNomeFunc">

            <input type="text" id="inputSobrenomeFunc" placeholder="Sobrenome" name="inputSobrenomeFunc">

            <input type="text" id="inputCPFFunc" placeholder="CPF" name="inputCPFFunc">

            <input type="date" id="inputDataNascFunc" placeholder="Data de Nascimento" name="inputDataNascFunc">

            <input type="text" id="inputTelefoneFunc" placeholder="Telefone" name="inputTelefoneFunc">

            <input type="text" id="inputEmailFunc" placeholder="Email" name="inputEmailFunc">

            <input type="text" id="inputSalarioFunc" placeholder="Salário" name="inputSalarioFunc">

            <label style="text-align: center; display: block; margin-top: 20px;">Selecione foto de perfil:</label>
            <div class="input-file">
                <label for="arquivoFunc">Escolher arquivo</label>
                <input type="file" id="arquivoFunc" name="inputFoto">
                <span id="nome-arquivo-func">Nenhum arquivo escolhido</span>
            </div>

            <input id="botao" class="botao" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>


    <!-- Footer -->
    <footer></footer>
    <script src="../script/elementos-padroes.js"></script>
</body>
</html>