<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <script src="../script/script.js"></script>
    <title>Xhopii - Cadastro Cliente</title>
</head>
<body>
    <!-- Header e Nav -->
    <div id="topo-site"></div>

    <div class="conteudo-form bg-cinza">
        <div class="conteudo-formulario">
            <form id="form-log" onsubmit="window.location.href='home.html'; return false;">
            
                <label for="inputNome">Cadastrar Cliente</label>
                <input type="text" id="inputNome" placeholder="Nome" name="inputNome">
                <input type="text" id="inputSobrenome" placeholder="Sobrenome" name="inputSobrenome">
                <input type="text" id="inputCPF" placeholder="CPF" name="inputCPF">
                <input type="date" id="inputDataNasc" placeholder="Data Nascimento" name="inputDataNasc">
                <input type="text" id="inputTelefone" placeholder="Telefone" name="inputTelefone">
                <input type="text" id="inputEmail" placeholder="Email" name="inputEmail">
                <input type="password" id="inputSenha" placeholder="Senha" name="inputSenha">
                
                <label style="text-align: center;">Selecione foto de perfil:</label>
                <div class="input-file">
                    <label for="arquivo">Escolher arquivo</label>
                    <input type="file" id="arquivo" name="inputFoto">
                    <span id="nome-arquivo">Nenhum arquivo escolhido</span>
                </div>

                <input id="botao" class="botao" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer></footer>
    <script src="../script/elementos-padroes.js"></script>
</body>
</html>