<div class="footer-container">
            
    <!-- Atendimento -->
    <div class="footer-card">
    <h2>Atendimento ao Cliente</h2>
    <ul>
        <li><a href="#">Central de Ajuda</a></li>
        <li><a href="#">Como Comprar</a></li>
        <li><a href="#">Métodos de Pagamento</a></li>
        <li><a href="#">Garantia Xhopii</a></li>
        <li><a href="#">Devolução e Reembolso</a></li>
        <li><a href="#">Fale Conosco</a></li>
        <li><a href="#">Ouvidoria</a></li>
    </ul>
    </div>

    <!-- Sobre -->
    <div class="footer-card">
    <h2>Sobre a Xhopii</h2>
    <ul>
        <li><a href="#">Sobre Nós</a></li>
        <li><a href="#">Políticas Xhopii</a></li>
        <li><a href="#">Política de Privacidade</a></li>
        <li><a href="#">Programa de Afiliados</a></li>
        <li><a href="#">Ofertas Relâmpago</a></li>
        <li><a href="#">Xhopii Blog</a></li>
        <li><a href="#">Imprensa</a></li>
    </ul>
    </div>

    <!-- Pagamento -->
    <div class="footer-card">
    <h2>Pagamento</h2>
    <div class="pagamentos">
        <img src="../img/logo-pix.png" alt="Pix">
        <img src="../img/logo-boleto.png" alt="Boleto">
        <img src="../img/logo-american-express.png" alt="American Express">
        <img src="../img/logo-visa.png" alt="Visa">
        <img src="../img/logo-mastercard.png" alt="Mastercard">
        <img src="../img/logo-hipercard.png" alt="Hipercard">
        <img src="../img/logo-elo.png" alt="Elo">
    </div>
    </div>

    <!-- Redes sociais -->
    <div class="footer-card">
    <h2>Siga-nos</h2>
    <ul class="redes-sociais">
        <li><a href="#"><img src="../img/logo-instagram.png" alt="Instagram"> Instagram</a></li>
        <li><a href="#"><img src="../img/logo-twitter.png" alt="Twitter"> Twitter</a></li>
        <li><a href="#"><img src="../img/logo-facebook.png" alt="Facebook"> Facebook</a></li>
        <li><a href="#"><img src="../img/logo-youtube.png" alt="YouTube"> YouTube</a></li>
        <li><a href="#"><img src="../img/logo-linkedln.png" alt="LinkedIn"> LinkedIn</a></li>
    </ul>
    </div>

    <!-- QR Code -->
    <div class="footer-card">
    <h2>Aplicativo</h2>
    <div class="qr-code">
        <img id="qr-code" src="../img/qr-code.png" alt="QR Code">
    </div>
    <div class="apps">
        <a href="#"><img src="../img/logo-google-play.png" alt="Google Play"></a>
        <a href="#"><img src="../img/logo-store-apple.png" alt="App Store"></a>
    </div>
    </div>

</div>