<header>
    <section id="cabecalho-logo">
        <img src="../img/logo.png">
        <h1>Xhopii</h1>
    </section>
    <section id="cabecalho-logout">
        <a href="login.html">Sair</a>
    </section>
</header>

<nav class="menu-horizontal">
    <ul>
        <li><a href="./home.html">Home</a></li>
        <li><a href="./cadastroCliente.html">Cadastro Cliente</a></li>
        <li><a href="./cadastroFuncionario.html">Cadastro Funcionário</a></li>
        <li><a href="./cadastroProduto.html">Cadastro Produto</a></li>
        <li><a href="./verCliente.html">Ver Clientes</a></li>
        <li><a href="./verFuncionario.html">Ver Funcionários</a></li>
        <li><a href="./verProduto.html">Ver Produtos</a></li>
    </ul>
</nav>