<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Login</title>
</head>
<body>
    <!-- Cabeçalho -->
    <header class="cabecalho-login">
        <section id="cabecalho-login-logo">
            <img src="../img/logo.png" alt="Logo Xhopii">
            <h1>Xhopii</h1>
            <p>Entre</p>
        </section>
        <section id="cabecalho-login-ajuda">
            <p>Precisa de ajuda?</p>
        </section>
    </header>

    <!-- Conteúdo -->
    <div class="conteudo-form bg-laranja">
        <div class="conteudo-formulario">
            <form id="form-login" onsubmit="window.location.href='home.html'; return false;">
                
                <label for="inputEmailLog">Login</label>
                <input type="email" id="inputEmailLog" placeholder="Email" name="inputEmailLog" required>
                <input type="password" id="inputSenhaLog" placeholder="Senha" name="inputSenhaLog" required>
                
                <input class="botao" type="submit" value="Entre">

                <div class="links-secundarios">
                    <a href="./redefinirSenha.html">Esqueci minha senha</a>
                    <a href="#">Fazer login com SMS</a>
                </div>

                <p>OU</p>

                <div class="login-social">
                    <a href="#"><img src="../img/logo-facebook-cicle.png" alt="Facebook">Facebook</a>
                    <a href="#"><img src="../img/logo-google.png" alt="Google">Google</a>
                    <a href="#"><img src="../img/logo-apple.png" alt="Apple">Apple</a>
                </div>

                <p>Novo na Xhopii? <a href="cadastroCliente.html">Cadastrar</a></p>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer></footer>
    <script src="../script/elementos-padroes.js"></script>
</body>
</html>
