<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Ver Clientes</title>
</head>
<body>

    <!-- Header e Nav -->
    <div id="topo-site"></div>

    <section class="conteudo-visualizar">
        <section class="conteudo-visualizar-box">
            <h1>Clientes</h1>
            <section class="conteudo-bloco">
                <h2>Nome Sobrenome</h2>
                <p>CPF: 123.456.789-00</p>
                <p>Data Nascimento: 01/01/1990</p>
                <p>Telefone: (11) 98765-4321</p>
                <p>E-mail: cliente@exemplo.com</p>
            </section>
        </section>
    </section>

    <!-- Footer -->
    <footer></footer>
    <script src="../script/elementos-padroes.js"></script>
</body>
</html>