<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Ver Produtos</title>
</head>
<body>

    <header>
        <section id="cabecalho-logo">
            <img src="../img/logo.png">
            <h1>Xhopii</h1>
        </section>
        <section id="cabecalho-logout">
            <a href="login.php">Sair</a>
        </section>
    </header>

    <nav class="menu-horizontal">
        <ul>
            <li><a href="home.php">Home</a></li>
            <li><a href="cadastroCliente.php">Cadastro Cliente</a></li>
            <li><a href="cadastroFuncionario.php">Cadastro Funcionário</a></li>
            <li><a href="cadastroProduto.php">Cadastro Produto</a></li>
            <li><a href="verCliente.php">Ver Clientes</a></li>
            <li><a href="verFuncionario.php">Ver Funcionários</a></li>
            <li><a href="verProduto.php">Ver Produtos</a></li>
        </ul>
    </nav>

    <section class="conteudo-visualizar">
        <section class="conteudo-visualizar-box">
            <h1>Funcionários</h1>
            <section class="conteudo-bloco">
                <h2>João Silva</h2>
                <p>CPF: 123.456.789-00</p>
                <p>Data Nascimento: 15/03/1980</p>
                <p>Telefone: (11) 98765-4321</p>
                <p>E-mail: joao@empresa.com</p>
                <p>Salário: R$ 3.500,00</p>
            </section>

            <section class="conteudo-bloco">
                <h2>Maria Souza</h2>
                <p>CPF: 987.654.321-00</p>
                <p>Data Nascimento: 25/06/1992</p>
                <p>Telefone: (21) 91234-5678</p>
                <p>E-mail: maria@empresa.com</p>
                <p>Salário: R$ 4.200,00</p>
            </section>
        </section>
    </section>

    <footer class="rodape-login">
        <img src="../img/footer-login.png">
        <hr>
        <p>© 2022 Xhopii. Todos os direitos reservados</p>
    </footer>
</body>
</html>