<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Ver Produtos</title>
</head>
<body>

    <!-- Header e Nav -->
    <div id="topo-site"></div>

    <section class="conteudo-visualizar">
        <section class="conteudo-visualizar-box">
            <h1>Funcionários</h1>
            <section class="conteudo-bloco">
                <h2>João Silva</h2>
                <p>CPF: 123.456.789-00</p>
                <p>Data Nascimento: 15/03/1980</p>
                <p>Telefone: (11) 98765-4321</p>
                <p>E-mail: joao@empresa.com</p>
                <p>Salário: R$ 3.500,00</p>
            </section>

            <section class="conteudo-bloco">
                <h2>Maria Souza</h2>
                <p>CPF: 987.654.321-00</p>
                <p>Data Nascimento: 25/06/1992</p>
                <p>Telefone: (21) 91234-5678</p>
                <p>E-mail: maria@empresa.com</p>
                <p>Salário: R$ 4.200,00</p>
            </section>
        </section>
    </section>

    <!-- Footer -->
    <footer></footer>
    <script src="../script/elementos-padroes.js"></script>
</body>
</html>