<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Loja</title>
</head>
<body>

    <!-- Header e Nav -->
    <div id="topo-site"></div>

    <section class="conteudo-visualizar">
        <section class="conteudo-visualizar-box">
            <h1>Lojas</h1>
            <section class="conteudo-bloco">
                <h2>Nike</h2>
                <p>CNPJ: 90.933.698/0001-90</p>
                <p>Telefone: (11) 5039-9711</p>
                <p>E-mail: sac@nike.com.br</p>
                <img src="empresa_nike.jpg" alt="">
            </section>

            <section class="conteudo-bloco">
                <h2>Adidas</h2>
                <p>CNPJ: 42.274.696/0025-61</p>
                <p>Telefone: (11) 5546 3700</p>
                <p>E-mail: serviceinfo@onlineshop.adidas.com</p>
                <img src="empresa_adias.jpeg" alt="">
            </section>
        </section>
    </section>

    <!-- Footer -->
    <footer></footer>
    <script src="../script/elementos-padroes.js"></script>
</body>
</html>