<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Ver Produtos</title>
</head>
<body>

    <!-- Header e Nav -->
    <div id="topo-site"></div>

    <section class="conteudo-visualizar">
        <section class="conteudo-visualizar-box">
            <h1>Produtos</h1>
            <section class="conteudo-bloco">
                <h2>Produto A</h2>
                <p>Fabricante: Empresa X</p>
                <p>Descrição: Descrição do Produto A</p>
                <p>Valor: R$ 199,90</p>
            </section>

            <section class="conteudo-bloco">
                <h2>Produto B</h2>
                <p>Fabricante: Empresa Y</p>
                <p>Descrição: Descrição do Produto B</p>
                <p>Valor: R$ 299,90</p>
            </section>
        </section>
    </section>

    <!-- Footer -->
    <footer></footer>
    <script src="../script/elementos-padroes.js"></script>
</body>
</html>