<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Ver Produtos</title>
</head>
<body>

    <header>
        <section id="cabecalho-logo">
            <img src="../img/logo.png">
            <h1>Xhopii</h1>
        </section>
        <section id="cabecalho-logout">
            <a href="login.html">Sair</a>
        </section>
    </header>

    <nav class="menu-horizontal">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="cadastroCliente.html">Cadastro Cliente</a></li>
            <li><a href="cadastroFuncionario.html">Cadastro Funcionário</a></li>
            <li><a href="cadastroProduto.html">Cadastro Produto</a></li>
            <li><a href="verCliente.html">Ver Clientes</a></li>
            <li><a href="verFuncionario.html">Ver Funcionários</a></li>
            <li><a href="verProduto.html">Ver Produtos</a></li>
        </ul>
    </nav>

    <section class="conteudo-visualizar">
        <section class="conteudo-visualizar-box">
            <h1>Produtos</h1>
            <section class="conteudo-bloco">
                <h2>Produto A</h2>
                <p>Fabricante: Empresa X</p>
                <p>Descrição: Descrição do Produto A</p>
                <p>Valor: R$ 199,90</p>
            </section>

            <section class="conteudo-bloco">
                <h2>Produto B</h2>
                <p>Fabricante: Empresa Y</p>
                <p>Descrição: Descrição do Produto B</p>
                <p>Valor: R$ 299,90</p>
            </section>
        </section>
    </section>

    <footer class="rodape-login">
        <img src="../img/footer-login.png">
        <hr>
        <p>© 2025 Xhopii. Todos os direitos reservados</p>
    </footer>
</body>
</html>