<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <title>Xhopii - Ver Produtos</title>
</head>
<body>

    <!-- Header e Nav -->
    <div id="topo-site"></div>

    <section class="conteudo-visualizar">
        <div class="produto-container">

            <a href="./Produto.html">
                <div class="produto-card">
                <img src="../img/produto1.png" alt="">
                <h1>Camisa Desenvolvedor Front-End CSS</h1>
                <p>Fabricante: </p>
                <p>Descrição: </p>
                <p class="preco-texto">Preço: R$ 59,90</p>
            </div>
            </a>

            <a href="./Produto.html">
                <div class="produto-card">
                <img src="../img/produto1.png" alt="">
                <h1>Camisa Desenvolvedor Front-End CSS</h1>
                <p>Fabricante: </p>
                <p>Descrição: </p>
                <p class="preco-texto">Preço: R$ 59,90</p>
            </div>
            </a>

            <a href="./Produto.html">
                <div class="produto-card">
                <img src="../img/produto1.png" alt="">
                <h1>Camisa Desenvolvedor Front-End CSS</h1>
                <p>Fabricante: </p>
                <p>Descrição: </p>
                <p class="preco-texto">Preço: R$ 59,90</p>
            </div>
            </a>

            <a href="./Produto.html">
                <div class="produto-card">
                <img src="../img/produto1.png" alt="">
                <h1>Camisa Desenvolvedor Front-End CSS</h1>
                <p>Fabricante: </p>
                <p>Descrição: </p>
                <p class="preco-texto">Preço: R$ 59,90</p>
            </div>
            </a>

            <a href="./Produto.html">
                <div class="produto-card">
                <img src="../img/produto1.png" alt="">
                <h1>Camisa Desenvolvedor Front-End CSS</h1>
                <p>Fabricante: </p>
                <p>Descrição: </p>
                <p class="preco-texto">Preço: R$ 59,90</p>
            </div>
            </a>

            <a href="./Produto.html">
                <div class="produto-card">
                <img src="../img/produto1.png" alt="">
                <h1>Camisa Desenvolvedor Front-End CSS</h1>
                <p>Fabricante: </p>
                <p>Descrição: </p>
                <p class="preco-texto">Preço: R$ 59,90</p>
            </div>
            </a>

            <a href="./Produto.html">
                <div class="produto-card">
                <img src="../img/produto1.png" alt="">
                <h1>Camisa Desenvolvedor Front-End CSS</h1>
                <p>Fabricante: </p>
                <p>Descrição: </p>
                <p class="preco-texto">Preço: R$ 59,90</p>
            </div>
            </a>

            <a href="./Produto.html">
                <div class="produto-card">
                <img src="../img/produto1.png" alt="">
                <h1>Camisa Desenvolvedor Front-End CSS</h1>
                <p>Fabricante: </p>
                <p>Descrição: </p>
                <p class="preco-texto">Preço: R$ 59,90</p>
            </div>
            </a>

        </div>
    </section>

    <!-- Footer -->
    <footer></footer>
    <script src="../script/elementos-padroes.js"></script>
</body>
</html>